.card {
  border-radius: $borderRadiusCard;
  overflow: hidden;
  @extend .elevate-1;

  &__content {
    position: relative;
  }

  &--category {
    background: black;
    width: 100%;
    .card__content {
      aspect-ratio: 1;
      @extend .bg-black;
      h5 {
        position: absolute;
        z-index: 2;
        bottom: 0.5rem;
        left: 1rem;
        letter-spacing: 0.5px;
        @extend .text-white;
        @extend .m-0;
        @extend .fw-semibold;
      }
      img {
        position: absolute;
        z-index: 1;
        width: auto;
        max-width: none;
        height: 100%;
      }
      &::after {
        content: '';
        width: 100%;
        position: absolute;
        z-index: 1;
        height: 4rem;
        bottom: 0;
        left: 0;
        opacity: 0.6;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
    &--beef {
      .card__content {
        background-color: #d55d49;
      }
    }
    &--chicken {
      .card__content {
        background-color: #cfa616;
      }
    }
    &--dessert {
      .card__content {
        background-color: #608456;
      }
    }
    &--lamb {
      .card__content {
        background-color: #16cf8d;
      }
    }
    &--miscellaneous {
      .card__content {
        background-color: #499ad5;
      }
    }
    &--pasta {
      .card__content {
        background-color: #b949d5;
      }
    }
    &--pork {
      .card__content {
        background-color: #16b9cf;
      }
    }
    &--seafood {
      .card__content {
        background-color: #7d5687;
      }
    }
    &--side {
      .card__content {
        background-color: #684f1f;
      }
    }
    &--starter {
      .card__content {
        background-color: #d54949;
      }
    }
    &--vegan {
      .card__content {
        background-color: #8c6ac4;
      }
    }
    &--vegetarian {
      .card__content {
        background-color: #e8d957;
      }
    }
    &--breakfast {
      .card__content {
        background-color: #2516cf;
      }
    }
    &--goat {
      .card__content {
        background-color: #8fd549;
      }
    }
  }
}
