.header {
  position: relative;
  z-index: 1;
  &__sx,
  &__dx {
    width: auto;
    flex-shrink: 0;
  }
  &__cx {
    flex-grow: 1;
  }

  &__sx {
    @extend .d-flex;
    @extend .flex-wrap;
    @extend .items-end;
    width: 60%;
    h3 {
      @extend .mb-0;
      @extend .ff-roboto;
    }
  }

  @include mq(md) {
    &__sx {
      width: auto;
      h3 {
        margin-left: 0.5rem;
      }
    }
  }
}
