@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }
}

.bg {
  &--welcome {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    transform: translateX(27%) translateY(-15%);
    width: 60%;

    @include mq(sm) {
      width: 40%;
      max-width: 450px;
      transform: translateY(15%);
      bottom: 0;
      right: 2rem;
    }
  }
}
