// Main Site Layout

body {
  overflow-x: hidden;
  background-color: $white;
  color: $black;
  padding: 0;
  @extend .m-0;
  @extend .ff-roboto;
}

main {
  transition: padding-top 400ms $easing-fast-out-slow-in;
  &.home {
    padding-top: 296px;
  }
  &.category,
  &.ingredients,
  &.cart {
    padding-top: 160px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  max-width: $container-max-width;
}

@include mq(sm) {
  .container {
    padding-left: toRem(16);
    padding-right: toRem(16);
  }
}

@include mq(md) {
  .container {
    padding-left: toRem(24);
    padding-right: toRem(24);
  }
}

@include mq(md) {
  .container {
    padding-left: toRem(32);
    padding-right: toRem(32);
  }
}
