.list {
  @extend .mt-5;
  &--categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-auto-rows: auto;

    @include mq(lg) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
